body{
    background-color: #FEEFE5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Perfect_Pizza{
    text-align: center;
}

.pizzas{
    /* box-model */
    border: 1px solid #00916e;
    margin: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
    margin-left: left;
    border-radius: 1em;
    display: inline-block;
    }

.small_pizza{
    background-color: #FFCF00;
    flex: 1;
  }

.medium_pizza{
    background-color: #EE6123;
    flex: 1;
}

.large_pizza{
    background-color: #FA003F;
    flex: 2;
    
}


.Contact_Details{
    background-color: #56d700;
    text-align: center;
}


@media (min-width:960px) {
    body {
        background-color: #c7bc1d;
        display: flex;
        flex: 4;
    }
}