body{
    background-color: #3a86ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.perfect_pizza{
    text-align: center;
}


.pizzas{
    /* box-model */
    border: 1px solid #fcbf49;
    margin: 1em;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    display: flex;
    }

.small_pizza{
    background-color: #ffbe0b;
    flex: 1;
  }

.medium_pizza{
    background-color: #fb5607;
    flex: 1;
}

.large_pizza{
    background-color: #ff006e;
    flex: 1;
    
}


.Contact_Details{
    background-color: #d4d700;
    text-align: center;
}


@media (min-width:960px) {
    body {
        background-color: #e5e5e5;
        display: block;
    }


@media (min-width:760px) {  
    body {
            background-color: #e96ae2;
            display: block;
        }
    }
}