body{
    background-color: #FEEFE5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Perfect_Pizza{
    text-align: center;
   }

.pizzas{
    /* box-model */
    border: 1px solid #00916e;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    flex: 1;
    display: inline-block;
    padding: 1em;
    margin-left: 1em;
    }

.Small_Pizza{
    background-color: #FFCF00;
  }

.Medium_Pizza{
    background-color: #EE6123;
    }

.Large_Pizza{
    background-color: #FA003F;
    }


.Contact_Details{
    background-color: #56d700;
    text-align: center;
    }


@media (min-width:960px) {
    body {
        background-color: #ffffff;
        text-align: center;
        display: flexbox;    }
}
@media (min-width:760px) {
    body {
        background-color: #c7bc1d;
        text-align: center;
    }
}